*{
    transition:  all 0.2s ease-in-out;
}

body {
    background: #219F94;
    display: grid;
    place-items: center;
    height: 120vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.card {
    background: #fdfdfd;
    border-radius: 4px;
    height: 95vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    overflow: hidden;
}

@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

@media only screen and (max-width: 640px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

img.birthday {
    max-height: 40vh;
}

.text {
    /* margin-top: 2em; */
    padding: 1em;
    color: #35858B;
}

.muted {
    opacity: 0.8;
}

.space {
    height: 100px;
}